@page
@{
    Layout = "_Layout1";
}
@model portal.Pages.testModel
@{
    ViewData["Title"] = "test";
}

@section Menu {
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Меню</h3>
            <ul class="nav side-menu">
                <li>
                    <a><i class="fa fa-home"></i> Zabbix <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="index.html">Профиль</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
}


@section Content {
    <!-- page content -->
    <div class="right_col" role="main">

        <!--Таблица-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Table design <small>Custom design</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Название </th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (int i = 0; i < (Model.Table.Count); i++)
                                {
                                    <tr class="even pointer">
                                        <td class=" ">@Model.Table[i].name</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>

        @Model.Message

    </div>
    <!-- /page content -->
}


@section Footer {
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
}